.loginWrapper {
    height: calc(100vh - 45px);
    text-align: left;
    font-size: 25px;
    color: wheat;
    overflow: hidden;

}
.rememberMeText {
    margin-left: 20px;
}
.loginItem {
    margin-top: 20px;
    display: flex;
}
.loginContainer {
    width: 300px;
    padding: 50px;
    margin: 0 auto;
}
.loginInputItem {
    margin-top: 40px;
}
.btn {
    padding: 10px 60px;
    margin-top: 10px;
}
.loginTitle {
    font-size: 40px;
    margin-left: 810px;
    margin-top: 50px;
    width: 450px;
}
.loginData {
    margin-left: 810px;
}
.error {
    position: absolute;
    color: red
}